{% extends "_layouts/site" %}
{% set bodyClass = "galleryt" %}
{% set title = entry.title %}

{% block main %}

    <div data-uk-slideshow>
        <ul class="uk-slideshow">
            
            {% for image in entry.gallerySlider %}
      
            <li>
                <img src="{{ siteUrl }}{{ image.getUrl({ height: 400 }) }}" alt="{{ image.title }}">
            </li>
            
            {% else %}

            <li>
                <img src="http://unsplash.it/600/400" alt="No Slider Image">
            </li>
            
            {% endfor %}    
            
        </ul>
        <ul class="uk-grid uk-grid-width-1-6">
            
            {% set i = 0 %}
            {% for image in entry.gallerySlider %}
            <li>
                <a data-uk-slideshow-item="{{ i }}">
                <img src="{{ siteUrl }}{{ image.getUrl({ width: 500, height: 300 }) }}" alt="{{ image.title }}">
                </a>
            </li>
            {% set i = i + 1  %}
            {% else %}
            <li>
                <a data-uk-slideshow-item="0">
                <img src="http://unsplash.it/600/400" alt="No Slider Thumb">
                </a>
            </li>
            {% endfor %}
            
            
<!--
            <li><a data-uk-slideshow-item="0"><img src="http://unsplash.it/600/400"></a></li>
            <li><a data-uk-slideshow-item="1"><img src="http://unsplash.it/600/401"></a></li>
            <li><a data-uk-slideshow-item="2"><img src="http://unsplash.it/600/402"></a></li>
-->
        </ul>
    </div>


	<section>
		<div class="flex" style="max-width:1200px">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
<!--
				<p class="center"><img src="{{ craft.config.environmentVariables.assetsBaseUrl }}/images/social-sprite.png"></p>
				<footer>
					<hr class="horz-rule">
					<p class="services center">
						{% for serviceEntry in entry.servicesPerformed %}
							<a href="{{ serviceEntry.url }}">
								{% set icon = serviceEntry.serviceIcon.first() %}
								{% if icon %}
								<img src="{{ siteUrl}}{{ icon.url }}" alt="{{ icon.title }}">
								{% endif %}
								<span class="services-title">{{ serviceEntry.title }}</span>
							</a>
						{% endfor %}
					</p>
					<hr class="horz-rule">
				</footer>
-->
                <hr class="horz-rule">
				<a class="btn" href="{{ url(craft.request.firstSegment) }}">Back to Case Studies</a>
				<nav class="prev-next-entry">
					{% set params = {
						section: 'gallery',
						order: 'title'
					} %}

					{% set prevEntry = entry.getPrev(params) %}
					{% set nextEntry = entry.getNext(params) %}

					{% if prevEntry %}
						<a href="{{ prevEntry.url }}" class="pag-prev-link">Prev</a>
					{% endif %}
					{% if nextEntry %}
						<a href="{{ nextEntry.url }}" class="pag-next-link">Next</a>
					{% endif %}
				</nav>
                <hr class="horz-rule">
			</div>
		</div>
	</section>

	<article class="uk-margin-vlarge-bottom">
		{% include "_includes/article_body" %}
	</article>

{% endblock %}

{% block scripts %}
<script src="{{ siteUrl }}assets/js/uikit-components/slideshow.min.js"></script>
{% endblock %}