/* Custom CSS */

.hero-shortdesc {
    max-width: 600px;
}

#on-tap {
    margin-top: 0 !important;
}

#header nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#header h1 {
    top: 6px;
}

.services-entry-wrap p {
    font-size: 14px;
}

#footer .flex a.contact {
    max-width: 190px;
}

.button-w-icon:before {
    top: 10px;
}

.cta h2 {
    text-align: center;
    letter-spacing: 3px;
}

body.gallery #main header {
    background: #c6c5c5 url("../images/headingbg-gray.svg");
}

/* Start UIKIT overides */

.uk-slideshow {
    margin-top: 0 !important;
}

.uk-margin-vlarge-bottom {
    margin-bottom: 70px !important;
}

/* End UIKIT overides */

/* Media Queries */

@media (max-width: 350px) {
    #header h1 {
        left: 0;
    }
}